@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  border-bottom: 3px solid #32b9cd;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}


.titulo {
  color: #32b9cd;
  width: fit-content;
  font-weight: 500;
}


/* BANNER */

.banner {
  height: fit-content;
  padding: 40px 0;
  color: white;
  background-image: url(".././assets/imgs/bg-jelly-fish-para_outras_pags.png");
  background-size: cover;
}

.banner .container {
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* missao visao valores */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container{
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}


/* LOGIN */

.banner .container .card {
  background-color: #e5e5e5;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: palevioletred;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: blue;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÃFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 80%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: blue;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid blue;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: blue;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}

/* pagina mural */

*,
body {
  font-family: "Exo 2", sans-serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: blue; */
  border: 3px solid blue;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: blue;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: blue;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid blue;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  height: 100vh;
  overflow: auto;
  background: linear-gradient(180deg, #BC9964 29.22%, #5988FF 116.09%);
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #212124;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  /* background-color: #c7c7c7; */
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 60%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: blue;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}

.btn-pink {
  color: white;
  background-color: blue;
}

.btn-white {
  color: blue;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}