
/* Background */

.background { 
	background-image:linear-gradient(0deg, rgba(228.0000016093254, 184.00000423192978, 117.00000062584877, 1) 0%,rgba(120.00000044703484, 76.0000030696392, 70.00000342726707, 1) 54.02909517288208%) ;
	width:1920px;
	height:1080px;
	position:absolute;
}

/* Fim Background */

/* Logo */

.logo { 
	width:839px;
	height:1077px;
	position:absolute;
	left:1021px;
	top:3px;
	background-image:url(../assets/Icons/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/* Fim Logo */

/* Viajante1 */

.viajante1 { 
	width:627px;
	height:470px;
	position:absolute;
	left:162px;
	top:-108px;
	background-image:url(../assets/personagens/Aether.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/* Fim Viajante1 */

/* Form */
  
/* Fim Form */

