@font-face {
	font-family: [HYWenHei-85W];
	src: url('../assets/HYWenHei-85W.ttf') format(truetype);
 }
 
/* Background */
.background { 
	width:1920px;
	height:1080px;
	position:absolute;
	background: linear-gradient(180deg, #524892 0%, #81B2CA 88.83%);
}

/* Fim Background */

/* Logo */

.logo { 
	width:627px;
	height:470px;
	position:fixed;
	left:1119px;
	top:-105px;
	background-image:url(../assets/Icons/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/* Fim Logo */

/* lumine */

.lumine { 
	width:928px;
	height:995px;
	position:fixed;
	left:58px;
	top:43px;
	background-image:url(../assets/personagens/lumine.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/* Fim lumine */

/* Span */

.span-email { 
	color:whitesmoke;
	width:173px;
	height:55px;
	position:fixed;
	left:1039px;
	top:229px;
	font-family:HYWenHei-85W;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}

.span-senha { 
	color:whitesmoke;
	width:173px;
	height:55px;
	position:fixed;
	left:1038px;
	top:457px;
	font-family:HYWenHei-85W;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}

.span-confsenha{
	color:whitesmoke;
	width:516px;
	height:64px;
	position:fixed;
	left:1010px;
	top:688px;
	font-family:HYWenHei-85W;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}

/* Fim Span */

/* Inputs */

.email {

	background-color:whitesmoke;
	width:844px;
	height:99px;
	position:fixed;
	left:1010px;
	top:316px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	
  }

.senha {

	background-color:whitesmoke;
	width:844px;
	height:99px;
	position:fixed;
	left:1010px;
	top:534px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}

.confirm-senha {

	background-color:whitesmoke;
	width:844px;
	height:99px;
	position:fixed;
	left:1010px;
	top:752px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;

}

/* Fim inputs */

/* Botão de login */

 .btn {

	background-color:yellow;
	width:540px;
	height:120px;
	position:fixed;
	left:1162px;
	top:922px;
	border-top-left-radius:34px;
	border-top-right-radius:34px;
	border-bottom-left-radius:34px;
	border-bottom-right-radius:34px;

	/* Texto botão */
	color: black;
	font-size: 78px;
	cursor: pointer;
 }

/* Fim do botão  */
